In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("./world_cities_air_water_quality.csv")

In [8]:
df.rename(columns={' "Region"':"Region", ' "Country"':"Country",' "AirQuality"':"AirQuality",' "WaterPollution"':"WaterPollution" }, inplace=True)

In [9]:
df

,Unnamed: 0,City,Region,Country,AirQuality,WaterPollution
0,0,New York City,New York,United States of America,46.816038,49.504950
1,1,"Washington, D.C.",District of Columbia,United States of America,66.129032,49.107143
2,2,San Francisco,California,United States of America,60.514019,43.000000
3,3,Berlin,NaN,Germany,62.364130,28.612717
4,4,Los Angeles,California,United States of America,36.621622,61.299435
...,...,...,...,...,...,...
3958,3958,Yanbu,Medina Province,Saudi Arabia,0.000000,50.000000
3959,3959,Cordoba,Andalusia,Spain,85.714286,8.333333
3960,3960,Vic,Catalonia,Spain,100.000000,0.000000
3961,3961,Segovia,Castile and Leon,Spain,100.000000,0.000000
3962,3962,Zamora city,Castile and Leon,Spain,100.000000,50.000000

In [10]:
df ["Region"]= df["Region"].map(lambda row: row.replace('"','').strip())
df ["Country"]= df["Country"].map(lambda row: row.replace('"','').strip())
df.to_csv("world_cities_air_water_quality.csv")

AttributeError: 'float' object has no attribute 'replace'

In [11]:
df1 = pd.pivot_table(df, index=["Country", "City"])
df1.loc["Germany"]

                   AirQuality  Unnamed: 0  WaterPollution
City
Aachen              70.454545        76.0       17.857143
Aalen               87.500000       384.0       50.000000
Abensberg          100.000000      2262.0       50.000000
Amberg             100.000000       490.0       50.000000
Annaberg-Buchholz   87.500000      1191.0       50.000000
...                       ...         ...             ...
Wilhelmshaven      100.000000       354.0       50.000000
Wolfsburg           96.875000       268.0        0.000000
Worms               60.000000       352.0      100.000000
Wuppertal           90.000000       201.0        0.000000
Zwickau             75.000000       335.0       50.000000

[124 rows x 3 columns]

**Markaziy Osiyo davlatlarining havo tozaligi va suv ifloslanishinnig shaharlar kesimi bo'yicha statistikasi**

In [12]:
df_ca = df1.loc[["Kazakhstan", "Kyrgyzstan", "Tajikistan", "Turkmenistan", "Uzbekistan", "Afghanistan" ]]
df_ca.sort_values(by=['AirQuality'],ascending=False)

                             AirQuality  Unnamed: 0  WaterPollution
Country      City
Afghanistan  Farah           100.000000      2785.0        0.000000
Turkmenistan Mary            100.000000       438.0        0.000000
Kyrgyzstan   Cholpon-Ata      75.000000      3457.0       50.000000
Turkmenistan Ashgabat         61.111111       737.0       36.111111
Uzbekistan   Tashkent         56.451613        21.0       49.166667
Afghanistan  Andkhoy          50.000000      3511.0       50.000000
             Herat            43.750000      1042.0       31.250000
Tajikistan   Dushanbe         41.666667       535.0       61.111111
Kazakhstan   Atyrau           28.571429      2586.0       60.714286
             Ekibastuz        25.000000      2650.0       50.000000
             Semey            25.000000      1247.0       75.000000
             Aktobe           25.000000      2547.0       87.500000
Kyrgyzstan   Karakol          25.000000      1960.0       50.000000
             Bishkek          18.571429       534.0       45.967742
Afghanistan  Kabul            18.421053       444.0       81.060606
Kazakhstan   Karaganda        16.666667      2560.0       66.666667
             Almaty           11.830357       866.0       48.863636
Afghanistan  Mazar-i-Sharif   11.111111      1497.0       83.333333
Kazakhstan   Oskemen          10.714286      1659.0       60.714286
             Aktau             8.333333      1974.0       91.666667
             Temirtau          0.000000      3398.0       75.000000
             Pavlodar          0.000000      2575.0       75.000000
             Kostanay          0.000000      2603.0       75.000000
Afghanistan  Kandahar          0.000000      1044.0       75.000000

In [13]:
df_ca["AirPollution"] = 100-df_ca["AirQuality"]
df_ca["WaterQuality"] = 100-df_ca["WaterPollution"]
df_ca = pd.DataFrame(data = df_ca.values, index=df_ca.index, columns=[["AIR", "AIR", "WATER", "WATER"],["AirQuality", "AirPollution", "WaterPollution","WaterQuality" ]])
df_ca

ValueError: Shape of passed values is (24, 5), indices imply (24, 4)

In [14]:
df_ca.columns.names =  ["Object", "Info"]

ValueError: Length of new names must be 1, got 2

In [15]:
df_ca

                             AirQuality  Unnamed: 0  WaterPollution  \
Country      City
Kazakhstan   Aktau             8.333333      1974.0       91.666667
             Aktobe           25.000000      2547.0       87.500000
             Almaty           11.830357       866.0       48.863636
             Atyrau           28.571429      2586.0       60.714286
             Ekibastuz        25.000000      2650.0       50.000000
             Karaganda        16.666667      2560.0       66.666667
             Kostanay          0.000000      2603.0       75.000000
             Oskemen          10.714286      1659.0       60.714286
             Pavlodar          0.000000      2575.0       75.000000
             Semey            25.000000      1247.0       75.000000
             Temirtau          0.000000      3398.0       75.000000
Kyrgyzstan   Bishkek          18.571429       534.0       45.967742
             Cholpon-Ata      75.000000      3457.0       50.000000
             Karakol          25.000000      1960.0       50.000000
Tajikistan   Dushanbe         41.666667       535.0       61.111111
Turkmenistan Ashgabat         61.111111       737.0       36.111111
             Mary            100.000000       438.0        0.000000
Uzbekistan   Tashkent         56.451613        21.0       49.166667
Afghanistan  Andkhoy          50.000000      3511.0       50.000000
             Farah           100.000000      2785.0        0.000000
             Herat            43.750000      1042.0       31.250000
             Kabul            18.421053       444.0       81.060606
             Kandahar          0.000000      1044.0       75.000000
             Mazar-i-Sharif   11.111111      1497.0       83.333333

                             AirPollution  WaterQuality
Country      City
Kazakhstan   Aktau              91.666667      8.333333
             Aktobe             75.000000     12.500000
             Almaty             88.169643     51.136364
             Atyrau             71.428571     39.285714
             Ekibastuz          75.000000     50.000000
             Karaganda          83.333333     33.333333
             Kostanay          100.000000     25.000000
             Oskemen            89.285714     39.285714
             Pavlodar          100.000000     25.000000
             Semey              75.000000     25.000000
             Temirtau          100.000000     25.000000
Kyrgyzstan   Bishkek            81.428571     54.032258
             Cholpon-Ata        25.000000     50.000000
             Karakol            75.000000     50.000000
Tajikistan   Dushanbe           58.333333     38.888889
Turkmenistan Ashgabat           38.888889     63.888889
             Mary                0.000000    100.000000
Uzbekistan   Tashkent           43.548387     50.833333
Afghanistan  Andkhoy            50.000000     50.000000
             Farah               0.000000    100.000000
             Herat              56.250000     68.750000
             Kabul              81.578947     18.939394
             Kandahar          100.000000     25.000000
             Mazar-i-Sharif     88.888889     16.666667